div#topmostdiv {
    background-color: rgb(23 23 23);
    color: #ddd;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dark button.depressed {
    background-color: #0891b2;
    filter: invert(1);
}

.dark .bom tr.highlighted:nth-child(n) {
    background-color: #0891b2;
}
